/target/
/nbproject/
/nbproject/**
/build/
/build/**
/dist/
/src/main/resources/bankdata.*
.DS_STORE
.classpath
.project
.settings
Thumbs.db
.DS_Store
.gradle
target/
out/
.idea/
.idea/**
*.iml
*.ipr
*.iws
.factorypath
